@use "sass:color";

$yellow: #fef433;
$white: #ffffff;
$purple: #9a59cf;
$black: #2d2d2d;

$bg-light-offset: -40%;

$bg-yellow: color.scale($yellow, $lightness: $bg-light-offset);
$bg-white: color.scale($white, $lightness: $bg-light-offset);
$bg-purple: color.scale($purple, $lightness: $bg-light-offset);
$bg-black: color.scale($black, $lightness: $bg-light-offset);